*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inconsolata", sans-serif;
  color: #E7EDED;
  font-weight: 300; }

section {
  padding-top: 20rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.fw-100 {
  font-weight: 100 !important; }

.next {
  display: flex;
  justify-content: center; }
  .next-icon {
    fill: #fff;
    height: 6rem;
    width: 6rem;
    transition: transform .2s ease-in; }
  .next-icon-light:hover {
    fill: #3fe1fd;
    transform: scale(1.5); }
  .next-icon-dark:hover {
    fill: #434B4A;
    transform: scale(1.5); }

.header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300 !important;
  text-transform: uppercase; }
  .header-contact {
    margin: 2rem;
    font-size: 2rem; }

.blue {
  color: #3fe1fd; }

.text__animated {
  display: inline-block; }

.textline-both {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  color: #E7EDED; }

.textline-both::before,
.textline-both::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
  text-shadow: 0rem 1orem 3rem black; }

.textline-left {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  color: #E7EDED; }

.textline-left::before {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
  text-shadow: 0rem 1orem 3rem black; }

.textline-right {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  color: #E7EDED; }

.textline-right::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
  text-shadow: 0rem 1orem 3rem black; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
  background: #0a142f; }
  .navbar__logo {
    padding: 1rem 2rem; }
    .navbar__logo img {
      height: 5rem;
      border-radius: 50%; }
  .navbar__items {
    display: flex;
    align-self: stretch; }
    .navbar__items > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%; }
  .navbar__item {
    display: flex;
    align-items: center; }
  .navbar__link:hover,
  .navbar__link:hover .navbar__icon {
    fill: #dc4eff; }
    .navbar__link:hover span,
    .navbar__link:hover .navbar__icon span {
      color: #dc4eff; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #3fe1fd;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .navbar__link:link span, .navbar__link:visited span {
      padding-left: 1rem; }
  .navbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #3fe1fd; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
  background: #0a142f; }
  .navbar__logo {
    padding: 1rem 2rem; }
    .navbar__logo img {
      height: 5rem;
      border-radius: 50%; }
  .navbar__items {
    display: flex;
    align-self: stretch; }
    .navbar__items > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%; }
  .navbar__item {
    display: flex;
    align-items: center; }
  .navbar__link:hover,
  .navbar__link:hover .navbar__icon {
    fill: #dc4eff; }
    .navbar__link:hover span,
    .navbar__link:hover .navbar__icon span {
      color: #dc4eff; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #3fe1fd;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .navbar__link:link span, .navbar__link:visited span {
      padding-left: 1rem; }
  .navbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #3fe1fd; }

.home {
  padding: 30vh 5vw;
  color: #E7EDED;
  background: #0a142f;
  height: 100vh; }
  .home__content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 4rem;
    align-items: center;
    margin-bottom: 20rem; }
    .home__content__text {
      grid-column: 1 / 2;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: none; }
      .home__content__text-header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr)); }
      .home__content__text-underline {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        color: #E7EDED; }
      .home__content__text-underline::before, .home__content__text-underline::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
        text-shadow: 0rem 1orem 3rem black; }
    .home__content__img {
      grid-column: 2 / -1;
      justify-self: center;
      margin-right: 8rem; }
      .home__content__img img {
        height: 30rem;
        width: 30rem;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); }
  .home__line {
    display: flex;
    flex: 1; }

.text__animated:hover {
  animation: stretching 1s linear both;
  color: #3fe1fd; }

.animated {
  -moz-animation: bounce 1s;
  -webkit-animation: bounce 1s;
  animation: stretching 1s; }

@keyframes stretching {
  from {
    transform: scale3d(1, 1, 1);
    color: #dc4eff; }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1);
    color: #3fe1fd; }
  65% {
    transform: scale3d(0.95, 1.05, 1);
    color: #dc4eff; }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #9b4eff; }
  to {
    transform: scale3d(1, 1, 1);
    color: #3fe1fd; } }

@-webkit-keyframes stretching {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@-moz-keyframes stretching {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.about {
  background: #0a142f;
  padding: 20vh 1vw 10vh 1vw;
  height: 90vh; }
  .about__content {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr minmax(60rem, 1fr);
    align-items: center; }
  .about__text {
    text-align: justify;
    color: #fff;
    grid-column: 2 / -1;
    font-size: 1.6rem; }
    .about__text-header-1::before, .about__text-underline::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
      text-shadow: 0rem 1orem 3rem black; }
  .about__images {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: start; }
  .about__img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: 3px solid linear-gradient(to bottom, #434B4A, #3fe1fd);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    object-fit: cover; }
    .about__img:not(:last-child) {
      transform: translateX(4rem); }

.skills {
  background: #0a142f;
  padding: 13rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(10rem, 1fr));
  grid-gap: 2rem 0; }
  .skills__header {
    font-size: 3rem;
    font-weight: 300 !important;
    grid-column: 1 / -1;
    grid-row: 1 / 1; }
  .skills__text {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    font-size: 2rem;
    font-weight: 100;
    align-self: center;
    text-align: left; }
  .skills__box {
    text-align: right; }
    .skills__box-1 {
      grid-column: 4 / -1;
      grid-row: 2 / 3;
      margin-left: 24rem; }
    .skills__box-2 {
      grid-column: 4 / -1;
      grid-row: 3 / 4;
      margin-left: 15rem; }
    .skills__box-3 {
      grid-column: 4 / -1;
      grid-row: 4 / 5;
      margin-left: 24rem; }
    .skills__box-4 {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
      margin-left: 39rem; }
  .skills__logo-container {
    background: #273d5a;
    margin: 2rem 0 2rem 3rem;
    padding: 3rem 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    transition: all .2s;
    padding-right: auto;
    color: #E7EDED;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 10rem));
    justify-content: center;
    justify-items: center; }
  .skills__logo-container:hover {
    transform: scale(1.03) translateY(-1rem);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7); }
  .skills__logo {
    height: 3rem;
    width: auto;
    text-align: center; }
    .skills__logo h4 {
      text-align: center;
      font-size: 1.6rem; }

.projects {
  background: #0a142f;
  padding: 14rem 3rem 0 3rem; }
  .projects__gallery {
    margin-top: 10rem;
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    justify-items: center;
    grid-gap: .5rem;
    padding: 1.5rem; }
    .projects__gallery__item {
      position: relative;
      height: 30rem; }
      .projects__gallery__item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
      .projects__gallery__item-overlay {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 30% 1rem;
        transition: all .7s;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .projects__gallery__item-overlay-text {
          color: white;
          font-size: 1.4rem;
          margin-top: 3rem; }
        .projects__gallery__item-overlay-link:link, .projects__gallery__item-overlay-link:visited {
          font-size: 1.4rem;
          color: #E7EDED;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          padding: 1.5rem;
          margin: 2rem 7rem;
          transition: all .2s; }
        .projects__gallery__item-overlay-link:hover, .projects__gallery__item-overlay-link:active {
          background-color: rgba(63, 225, 253, 0.5);
          transform: translateY(-3px);
          font-weight: 500; }
    .projects__gallery__item:hover .projects__gallery__item-img {
      opacity: .2; }
    .projects__gallery__item:hover .projects__gallery__item-overlay {
      background: linear-gradient(to bottom right, #3fe1fd, #dc4eff);
      color: white;
      opacity: .7; }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
    grid-gap: 5rem;
    justify-content: center;
    justify-items: center;
    align-items: start; }
  .projects__card {
    background: #273d5a;
    font-size: 1.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    color: #E7EDED; }
    .projects__card-img {
      width: 100%;
      display: block;
      object-fit: cover; }
    .projects__card-header {
      margin: 2rem 2rem;
      font-size: 1.8rem;
      font-weight: 500;
      text-align: center; }
    .projects__card-text {
      padding: 2rem 2rem;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2;
      text-align: center; }
    .projects__card-link {
      align-self: center;
      margin: 2rem 0;
      transition: all .2s;
      text-decoration: none;
      padding: 1rem;
      color: #0a142f;
      background: #3fe1fd;
      border-bottom: 1px solid #3fe1fd;
      border-radius: .5rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    .projects__card-link:hover {
      transform: scale(1.03) translateY(-0.5rem);
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5); }

.contact {
  padding: 10rem 4rem;
  background: linear-gradient(to bottom, #0a142f, #273d5a); }
  .contact__container {
    display: flex;
    justify-content: space-around; }
  .contact__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact__item-link {
      cursor: pointer; }
      .contact__item-link img {
        height: 6rem;
        width: 6rem; }
    .contact__item-title {
      color: #fff;
      font-size: 1.6rem;
      margin-top: 2rem; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  top: -4rem;
  left: 25%;
  width: 20rem;
  font-size: 1.4rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin-left: -75px;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }
