*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inconsolata", sans-serif;
  color: #363C3B;
  font-weight: 300; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.next {
  display: flex;
  justify-content: center; }
  .next-icon {
    fill: #fff;
    height: 6rem;
    width: 6rem;
    transition: transform .2s ease-in; }
  .next-icon-light:hover {
    fill: #33A2A0;
    transform: scale(1.5); }
  .next-icon-dark:hover {
    fill: #434B4A;
    transform: scale(1.5); }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.2);
  z-index: 10;
  border-bottom: 1px solid #33A2A0;
  background-color: #434B4A; }
  .navbar__logo {
    padding: 1rem 2rem; }
    .navbar__logo img {
      height: 5rem;
      border-radius: 50%; }
  .navbar__items {
    display: flex;
    align-self: stretch; }
    .navbar__items > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%; }
  .navbar__item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 0 1rem; }
  .navbar__item:hover,
  .navbar__item:hover .navbar__link:link,
  .navbar__item:hover .navbar__link:visited,
  .navbar__item:hover .navbar__icon {
    color: #434B4A;
    fill: #434B4A;
    background-color: #33A2A0; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #33A2A0;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .navbar__link:link span, .navbar__link:visited span {
      padding-left: 1rem; }
  .navbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #33A2A0; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.2);
  z-index: 10;
  border-bottom: 1px solid #33A2A0;
  background-color: #434B4A; }
  .navbar__logo {
    padding: 1rem 2rem; }
    .navbar__logo img {
      height: 5rem;
      border-radius: 50%; }
  .navbar__items {
    display: flex;
    align-self: stretch; }
    .navbar__items > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%; }
  .navbar__item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 0 1rem; }
  .navbar__item:hover,
  .navbar__item:hover .navbar__link:link,
  .navbar__item:hover .navbar__link:visited,
  .navbar__item:hover .navbar__icon {
    color: #434B4A;
    fill: #434B4A;
    background-color: #33A2A0; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #33A2A0;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .navbar__link:link span, .navbar__link:visited span {
      padding-left: 1rem; }
  .navbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #33A2A0; }

.home {
  padding: 20rem 4rem;
  background-color: #363C3B;
  height: 100vh;
  color: #fff; }
  .home__content {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 4rem;
    align-items: center; }
    .home__content__text {
      grid-column: 1 / 2;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: none; }
      .home__content__text-header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr)); }
      .home__content__text-underline {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center; }
      .home__content__text-underline::before, .home__content__text-underline::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
    .home__content__img {
      grid-column: 2 / -1;
      justify-self: center; }
      .home__content__img img {
        height: 20rem;
        border-radius: 50%; }
  .home__line {
    display: flex;
    flex: 1; }

.text__animated {
  display: inline-block;
  cursor: pointer; }

.text__animated:hover {
  animation: stretching 1s linear both;
  color: #33A2A0; }

.animated {
  -moz-animation: bounce 1s;
  -webkit-animation: bounce 1s;
  animation: stretching 1s; }

@keyframes stretching {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes stretching {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@-moz-keyframes stretching {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(2, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.5, 1); }
  50% {
    transform: scale3d(2, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.about {
  background-color: #33A2A0;
  padding: 5rem 0;
  height: 100vh; }
  .about__content {
    margin: 2rem 2rem;
    padding: 2rem 3rem;
    height: 70vh;
    background-color: #434B4A;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
    display: grid;
    grid-template-columns: minmax(70rem, 1fr) 1fr;
    align-items: center; }
  .about__text {
    color: #fff;
    grid-column: 1 / 1;
    font-size: 1.6rem; }
    .about__text-header-1 {
      margin-bottom: 2rem; }
  .about__images {
    grid-column: 2 / -1;
    justify-self: end; }
  .about__img {
    height: 20rem;
    border-radius: 50%;
    border: 3px solid #434B4A; }
    .about__img:not(:last-child) {
      transform: translateX(8rem); }

.skills {
  background-color: #434B4A;
  padding: 6rem 3rem; }
  .skills__header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 200;
    color: #E7EDED;
    text-transform: uppercase; }
  .skills__box {
    background-color: #33A2A0;
    margin: 2rem 3rem;
    padding: 3rem 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    transition: all .2s; }
  .skills__box:hover {
    transform: scale(1.03) translateY(-2rem);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7); }
  .skills__logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 10rem));
    grid-gap: 4rem;
    justify-content: center; }
  .skills__logo {
    height: 10rem;
    width: auto; }
    .skills__logo h4 {
      text-align: center;
      font-size: 1.6rem; }
