.about {
    background: $color-background;
    padding: 20vh 1vw 10vh 1vw;
    height: 90vh;

    @include respond(600) {
        height: auto;
    }

    &__content{
    //     margin: 2rem 2rem;
        padding: 2rem 3rem;
    //     height: 70vh;
    //    background: $color-background;
    //     box-shadow: 0 2rem 5rem rgba(#000, .5);
    //     border-radius: .3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

         @include respond(600) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        text-align: justify;
        color: #fff;
        grid-column: 2 / -1;
        font-size: 1.6rem;

        @include respond(900) {
            font-size: 1.4rem;
        }

        @include respond(600) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        &-header-1::before,
        &-underline::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
            text-shadow: 0rem 1orem 3rem rgba(#000, 1);
        }
    }

    &__images {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        margin-left: -3rem;
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        @include respond(1200) {
            // transform: translateX(8rem);
            flex-direction: column;
        }

        @include respond(600) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            flex-direction: row;
            margin-top: 5rem;
        }
    }

    &__img{
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        border: 3px solid linear-gradient(to bottom, $color-grey-dark-1, $color-primary);
        box-shadow: 0 2rem 5rem rgba(#000, .3);
        object-fit: cover;

        @include respond(900) {
            height: 20rem;
            width: 20rem;
        }

        @include respond(400) {
            height: 15rem;
            width: 15rem;
        }


        &:not(:last-child){
            transform: translateX(4rem);

            @include respond(1200) {
             transform: translateX(0) translateY(4rem);
            }

            @include respond(600) {
                transform: translateX(4rem);
            }
        }
    }


}