// COLOR VARIABLES
$color-primary: #33A2A0;
$color-primary-dark: #298683;

$color-secondary: #5EDEA4;
$color-secondary-dark: #4BB783;

$color-grey-light-1: #E7EDED;
$color-grey-light-2: #C2C9C9;
$color-grey-light-3: #9ca1a1;

$color-grey-dark-1: #434B4A;
$color-grey-dark-2: #363C3B;

// FONT VARIABLES
// $font-primary: 'Archivo Narrow', sans-serif;
$font-primary: 'Inconsolata', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// MEDIA VARIABLES / RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16px
$bp-medium: 50em; // 800px/16px
$bp-small: 37.5em; // 600px/16px


// GLOBAL RESET

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px --> 10px/16px= 62.5%

    @media only screen and (max-width: $bp-largest) {
        
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
}