.home {
    padding: 30rem 6rem 10rem 6rem;
    color: $color-grey-light-1;
    // background: linear-gradient(to bottom, $color-grey-dark-3, $color-primary);
    background: $color-background;
    &__content{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 4rem;
        align-items: center;
        margin-bottom: 20rem;

        &__text {
            grid-column: 1 / 2; 
            font-size: 3rem;
            font-weight: 300;
            // transition: all 1s;
            letter-spacing: none;

            &-header {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
            }


            &-underline{
                display: grid;
                grid-template-columns: 1fr max-content 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column-gap: 1.5rem;
                align-items: center;
    
                color:$color-grey-light-1;

            }

            &-underline::before,
            &-underline::after {
                content: "";
                height: 1px;
                display: block;
                background-color: currentColor;
                text-shadow: 0rem 1orem 3rem rgba(#000, 1);
            }
        }

        &__img {
            grid-column: 2 / -1;
            justify-self: center;
            margin-right: 8rem;
            
            
            img {
                height: 30rem;
                width: 30rem;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 2rem 5rem rgba(#000, .3);
            }

        }
    }

    

    &__line{
        display: flex;
        flex: 1;
    }
}

.text__animated:hover {
    animation: stretching 1s linear both;
    color:  #3fe1fd;
}

