.navigation {
    

    &__checkbox {
        display: none;
    }

    &__button {
        background: $color-primary;
        height: 6rem;
        width:  6rem;
        border-radius: 50%;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba(#000, .1);
        text-align: center;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(400) {
            height: 4rem;
            width: 4rem;
        }

        @include respond(600) {
            height: 5rem;
            width: 5rem;
        }
    }

    &__nav {
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        padding: 3.5rem;
        z-index: 10;
        transition: all 1s ease-in;
        transform: translateX(-50%);
        background: $color-background;
        // border-bottom: 1px solid $color-primary;


        opacity: 0;
        transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        position: absolute;
        top: 1rem;
        left: 0;
        display: flex;
        justify-items: end;
        justify-content: space-between;
        align-items: center;
        font-size: 2.8rem;
        
        list-style: none;
        // text-align: center;
        margin-left: 3rem;
    }

    &__item {
        margin: 1rem;
        margin-right: 2rem;
    }

    &__svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;

        @include respond(600) {
            height: 3rem;
            width: 3rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            transition: all 2s;
            text-decoration: none;
            color: $color-primary;
            font-size: 2rem;
            letter-spacing: 1;
            font-weight: 300;
            text-transform: uppercase;

            display: flex;
            align-items: center;

            span {
                padding-left: 1rem;

                @include respond(600) {
                    display: none;
                }
            }

            @include respond(900) {
                font-size: 1.8rem;
            }
        }
       

        &:hover,
        &:active,
        &:hover .navigation__svg,
        &:active .navigation__svg {
            transition: all .3s;
            fill: $color-secondary;

            span {
                transition: all .3s;
                color: $color-secondary;
            }
        }
    }

    // NAV TOGGLE
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
        box-shadow: 0 2rem 5rem rgba(#000, .5);
    }
    &__checkbox:checked ~ &__button {
        transform: translateY(-3.5rem);
        background: transparent;

        @include respond(900) {
            transform: translateY(-3.5rem) translateX(2.5rem);
        }

        @include respond(600) {
            transform: translateY(-3.5rem) translateX(2rem);
        }

        @include respond(400) {
            transform: translateY(-3rem) translateX(2rem);
        }
    }

    // ICON

    &__icon {
        position: relative;
        top: 2.7rem;

        @include respond(600) {
            top: 2.2rem;
        }

        @include respond(400) {
            top: 1.8rem;
        }
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: $color-grey-dark-3;
            display: inline-block;

             @include respond(400) {
                width: 2rem;
                height: 2px;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { 
            top: -.7rem; 
            // this can tell where the animation center will be 
            // transform-origin: right;
        }

        &::after {
            top: .8rem;

            @include respond(400) {
                top: .7rem;
            }
        }
    }

    // to cause the lines to make some space between them

    &__button:hover &__icon::before {
        top: -1rem;

        @include respond(400) {
            top: -.8rem;
        }
    }

    &__button:hover &__icon::after {
        top: 1rem;

        @include respond(400) {
            top: .7rem;
        }
    }

    // select the icon when the nav button clicked
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
        background: $color-grey-light-1;
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background: $color-grey-light-1;
    }
}