.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2rem 5rem rgba(#fff, 1);
    z-index: 10;
    
    background-color: $color-grey-dark-1;

    &__logo{
        padding: 1rem 2rem;

        img {
            height: 5rem;
            border-radius: 50%;
        }
        
    }

    &__items {
        display: flex;
        align-self: stretch;

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        padding: 0 1rem;
    }

    &__item:hover,
    &__item:hover &__link:link,
    &__item:hover &__link:visited,
    &__item:hover &__icon {
        color: $color-grey-dark-1;
        fill: $color-grey-dark-1;
        background-color: $color-primary;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.7rem;
        font-weight: 300;
        text-transform: uppercase;

        display: flex;
        align-items: center;

        span {
            padding-left: 1rem;
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
    }
}