.projects {
    background: linear-gradient(to bottom, $color-primary, $color-grey-dark-1);
    padding: 6rem 4rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
        grid-gap: 5rem;
        justify-content: center;
        justify-items: center;
        align-items: start;
        }

    &__card{
        background: linear-gradient(to top, $color-grey-dark-1, $color-primary-light);
        font-size: 1.6rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        box-shadow: 0 2rem 5rem rgba(#000, .3);
        color: $color-grey-light-1;

        &-img{
            width: 100%;
            display: block;
            object-fit: cover;
        }

        &-header{
            margin: 2rem 2rem;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
        }

        &-text{
            padding: 2rem 2rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
        }

        &-link {
            align-self: center;
            margin: 2rem 0;
            transition: all .2s;
            text-decoration: none;
            padding: 1rem;
            color: $color-grey-dark-1;
            background: $color-primary-light;
            border-bottom: 1px solid $color-primary;
            border-radius: .5rem;
            box-shadow: 0 2rem 5rem rgba(#000, .1);
        }

        &-link:hover {
            transform: scale(1.03) translateY(-.5rem);
            box-shadow: 0 2rem 5rem rgba(#000, .5);
        }

    }
}