.skills{
    background: linear-gradient(to bottom, $color-grey-dark-1, $color-primary);
    padding: 6rem 3rem;

    &__container{
        margin-bottom: 10rem;
    }

    &__box{
        background: linear-gradient(to bottom right, $color-primary, $color-grey-dark-1);
        margin: 2rem 3rem;
        padding: 3rem 2rem;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
        border-radius: .2rem;
        transition: all .2s;
        padding-right: auto;

        h1 {
            border-bottom: 1px solid $color-grey-dark-1;
            padding-bottom: 1rem;
        }
    }

    &__box:hover {
        transform: scale(1.03) translateY(-2rem);
        box-shadow: 0 2rem 5rem rgba(#000, .7);
    }

    &__logo-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 10rem));
        grid-gap: 4rem;
        justify-content: center;
        justify-items: center;
    }

    &__logo {
        height: 10rem;
        width: auto;
        
        h4 {
            text-align: center;
            font-size: 1.6rem;
        }
    }
}
