.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

.next {
    display: flex;
    justify-content: center;

    &-icon{
        fill: #fff;
        height: 6rem;
        width: 6rem;
        transition: transform .2s ease-in;
    }

    &-icon-light:hover {
        fill: $color-primary;
        transform: scale(1.5);
    }

    &-icon-dark:hover {
        fill: $color-grey-dark-1;
        transform: scale(1.5);
    }

}

.header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 200;
    color: $color-grey-light-1;
    text-transform: uppercase;
    margin: 10rem;

    &-contact {
        margin: 2rem;
        font-size: 2rem;
    }
}