.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

.fw-100 {font-weight: 100 !important;}

.next {
    display: flex;
    justify-content: center;

    &-icon{
        fill: #fff;
        height: 6rem;
        width: 6rem;
        transition: transform .2s ease-in;
    }

    &-icon-light:hover {
        fill: $color-primary;
        transform: scale(1.5);
    }

    &-icon-dark:hover {
        fill: $color-grey-dark-1;
        transform: scale(1.5);
    }

}

.header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 300 !important;
    text-transform: uppercase;
    // margin: 10rem;

    &-contact {
        margin: 2rem;
        font-size: 2rem;
    }
}

.blue{
    color: #3fe1fd;
}

.text__animated {
    display: inline-block;
}

.textline-both{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    color: $color-grey-light-1;
}

.textline-both::before,
.textline-both::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
    text-shadow: 0rem 1orem 3rem rgba(#000, 1);
}

.textline-left{
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    color: $color-grey-light-1;
}

.textline-left::before {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
    text-shadow: 0rem 1orem 3rem rgba(#000, 1);
}

.textline-right{
    display: grid;
    grid-template-columns: max-content 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    color: $color-grey-light-1;
}

.textline-right::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
    text-shadow: 0rem 1orem 3rem rgba(#000, 1);
}


